extend /_template/ja/_layout
append variables
  //- 変更可能
  - var pageTitle= "トップ";
  - var pageDescription= "トップページ | " + ja.site.description;
  //- - var pageKeywords= ja.site.keywords;
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= ja.site.ogpImage;
  - var pageOgpType= "website";
  - var imgPath= site.imgPath;

block content
  h1 トップページ
  p だよ
  a(href="http://").c-btn ボタン
  img(src=imgPath+"cat01.jpg", alt="")